version: "3"

services:
  web:
    build:
      context: ./project/
      dockerfile: Dockerfile # /project/Dockerfile
    volumes:
      - ./project/:/usr/src/app/
      - staticfiles:/usr/src/app/staticfiles # being mirrored as a volume mount so that is can be attached to a directory on the nginx container
    expose:
      - 8000
    env_file:
      - ./env/dev.env
    # command: python manage.py runserver 0.0.0.0:8080
    command: gunicorn demo.wsgi:application --bind 0.0.0.0:8000
  nginx:
    build:
      context: ./nginx/
      dockerfile: Dockerfile # /nginx/Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d/:/etc/nginx/conf.d/
      - staticfiles:/home/app/staticfiles # Volume mount used to share static files from the web container

  # dns:
  #   build:
  #     context: ./dns/
  #     dockerfile: Dockerfile
  #   restart: always
  #   ports:
  #     - 53:53
  #     - 53:53/udp
  #   volumes:
  #     - ./dns/named.conf:/etc/bind/named.conf
  #     - ./dns/zone/:/etc/bind/zone/
  #   command: named -c /etc/bind/named.conf -g -u named
volumes:
  staticfiles:
